# Ignore build outputs and large binaries
Build/
Build_*/
/build/
*.o
*.obj
*.a
*.lib
*.dll
*.dylib
*.exe
.DS_Store
*.log
*.zip
*.7z
*.tar
*.tar.*
*.bin
*.dat
# CMake/IDE
CMakeFiles/
CMakeCache.txt
cmake-build-*/
.vscode/
.idea/
*.user
